@theme inline {
  --animate-in: enter var(--animation-duration, 150ms)
    var(--animation-ease, var(--tw-ease, ease));
  --animate-out: exit var(--animation-duration, 150ms)
    var(--animation-ease, var(--tw-ease, ease));

  @keyframes enter {
    from {
      opacity: var(--enter-opacity, 0);
    }
  }

  @keyframes exit {
    to {
      opacity: var(--exit-opacity, 0);
    }
  }

  --animate-height-grow: height-grow var(--animation-duration, 150ms)
    var(--animation-ease, ease);
  --animate-height-shrink: height-shrink var(--animation-duration, 150ms)
    var(--animation-ease, ease);

  @keyframes height-grow {
    from {
      height: 0;
    }
    to {
      height: var(--height);
    }
  }

  @keyframes height-shrink {
    from {
      height: var(--height);
    }
    to {
      height: 0;
    }
  }

  --animate-width-grow: width-grow var(--animation-duration, 150ms)
    var(--animation-ease, ease);
  --animate-width-shrink: width-shrink var(--animation-duration, 150ms)
    var(--animation-ease, ease);

  @keyframes width-grow {
    from {
      width: 0;
    }
    to {
      width: var(--width);
    }
  }

  @keyframes width-shrink {
    from {
      width: var(--width);
    }
    to {
      width: 0;
    }
  }

  --animate-btn-active: scale-down 10ms ease forwards;

  @keyframes scale-down {
    to {
      scale: var(--scale, 0);
    }
  }
}

/* Duration & delay */

@utility animation-duration-* {
  --animation-duration: calc(--value(number) * 1ms);
  --animation-duration: --value(
    --animation-duration-*,
    [duration],
    'initial',
    [*]
  );
  animation-duration: var(--animation-duration, 150ms);
}

@utility animation-delay-* {
  --animation-delay: calc(--value(number) * 1ms);
  --animation-delay: --value(--animation-delay-*, [duration], 'initial', [*]);
  animation-delay: var(--animation-delay, 0s);
}

/* Fill mode */

@theme {
  --fill-mode-normal: normal;
  --fill-mode-reverse: reverse;
  --fill-mode-alternate: alternate;
  --fill-mode-alternate-reverse: alternate-reverse;
}

@utility fill-mode-* {
  --animation-fill-mode: --value(--fill-mode-*, 'initial', [*]);
  animation-fill-mode: var(--animation-fill-mode, normal);
}

/* Play state */

@theme {
  --play-state-running: running;
  --play-state-paused: paused;
}

@utility play-state-* {
  --animation-play-state: --value(--play-state-*, 'initial', [*]);
  animation-play-state: var(--animation-play-state, running);
}
