@import 'tailwindcss';
@import './animations.css';

@custom-variant dark (&:is(.dark *));

:root {
  --shape: var(--radius-md);
  --foreground: var(--color-zinc-900);
  --background: var(--color-zinc-50);
  --muted: var(--color-zinc-400);
  --muted-contrast: var(--color-zinc-100);
  --primary: var(--color-violet-500);
  --primary-contrast: var(--color-zinc-50);
  --danger: var(--color-red-700);
  --danger-contrast: var(--color-zinc-900);
  --highlight: var(--color-violet-200);
  --highlight-contrast: var(--foreground);
  --border: var(--color-zinc-300);
  --input: var(--color-white);
  --outline: --alpha(var(--color-primary) / 50%);
}

.dark:root {
  --foreground: var(--color-zinc-50);
  --background: var(--color-zinc-900);
  --muted-contrast: var(--color-zinc-800);
  --highlight: var(--color-violet-900);
  --highlight-contrast: var(--foreground);
  --border: var(--color-zinc-700);
  --input: var(--color-zinc-800);
}

@theme inline {
  --radius-shape: var(--shape);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-muted: var(--muted);
  --color-muted-contrast: var(--muted-contrast);
  --color-primary: var(--primary);
  --color-primary-contrast: var(--primary-contrast);
  --color-danger: var(--danger);
  --color-danger-contrast: var(--danger-contrast);
  --color-highlight: var(--highlight);
  --color-highlight-contrast: var(--highlight-contrast);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-outline: var(--outline);
}

@utility focusable {
  @apply outline-3;
  @apply outline-transparent;
}

@utility rounded-shape-* {
  border-radius: calc(var(--shape) + (var(--spacing) * --value(number)));
}
@utility -rounded-shape-* {
  border-radius: calc(var(--shape) - (var(--spacing) * --value(number)));
}

@utility halo {
  --color: oklch(71.4% 0.203 305.504 / 8%); /* purple-400 */
  --halo-x: calc(var(--x) - (var(--halo-size) / 2));
  --halo-y: calc(var(--y) - (var(--halo-size) / 2));
  background-image: radial-gradient(var(--color) 0, transparent 50%);
  background-repeat: no-repeat;
  background-position: var(--halo-x) var(--halo-y);
  background-size: var(--halo-size) var(--halo-size);
  @apply transition-opacity duration-200;
}

@layer base {
  * {
    @apply border-border;
  }

  ::-webkit-scrollbar {
    @apply bg-border size-2;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-foreground rounded-full;
  }

  ::selection {
    @apply bg-highlight text-highlight-contrast;
  }

  html {
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    background-color: var(--color-white);
    @apply text-foreground;

    @variant dark {
      background-color: var(--color-black);
      @apply text-background;
    }
  }

  :checked {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"/></svg>');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 0.75rem;
  }
}

@layer components {
  [data-codeblock] [data-line] {
    display: inline-block;
    width: 100%;
    @apply pr-8;

    &::before {
      @apply bg-background w-16 pr-2 text-sm transition-colors;
      content: attr(data-line);
      position: sticky;
      left: 0;
      display: inline-block;
      text-align: right;
    }

    span {
      @apply transition-colors;

      @variant dark {
        color: var(--shiki-dark) !important;
      }
    }
  }
}
