@import 'tailwindcss';
@import './animations.css';

@custom-variant dark (&:is(.dark *));

:root {
  --shape: var(--radius-md);
  --foreground: var(--color-zinc-900);
  --background: var(--color-zinc-50);
  --muted: var(--color-zinc-400);
  --muted-background: var(--color-zinc-100);
  --primary: var(--color-violet-500);
  --primary-contrast: var(--color-white);
  --danger: var(--color-red-700);
  --danger-contrast: var(--color-white);
  --border: --alpha(var(--color-zinc-500) / 25%);
  --highlight: --alpha(var(--color-primary) / 15%);
  --outline: --alpha(var(--color-primary) / 50%);
}

.dark:root {
  --muted-background: var(--color-zinc-800);
}

@theme inline {
  --radius-shape: var(--shape);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted);
  --color-muted-background: var(--muted-background);
  --color-primary: var(--primary);
  --color-primary-contrast: var(--primary-contrast);
  --color-danger: var(--danger);
  --color-danger-contrast: var(--danger-contrast);
  --color-border: var(--border);
  --color-highlight: var(--highlight);
  --color-outline: var(--outline);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    min-height: 100vh;
    background-color: var(--color-white);
    @apply text-foreground;

    @variant dark {
      background-color: var(--color-black);
      @apply text-background;
    }
  }

  :checked {
    background-image: url('data:image/svg+xml,<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"><path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M1 7.917 5.724 12.5 15 3.5"/></svg>');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 0.5rem;
  }
}

@utility focusable {
  @apply outline-3;
  @apply outline-offset-1;
  @apply outline-transparent;
}

@utility halo {
  --color: oklch(71.4% 0.203 305.504 / 8%); /* purple-400 */
  --pos-x: calc(var(--x) - (var(--halo-size) / 2));
  --pos-y: calc(var(--y) - (var(--halo-size) / 2));
  background-image: radial-gradient(var(--color) 0, transparent 50%);
  background-repeat: no-repeat;
  background-position: var(--pos-x) var(--pos-y);
  background-size: var(--halo-size) var(--halo-size);
  @apply transition-opacity duration-200;
}

@layer components {
  [data-codeblock] [data-line] {
    display: inline-block;
    width: 100%;
    @apply pr-8;

    &::before {
      @apply w-16 pr-2 text-sm transition-colors bg-background;
      content: attr(data-line);
      position: sticky;
      left: 0;
      display: inline-block;
      text-align: right;
    }

    @variant dark {
      &::before {
        @apply bg-foreground;
      }
    }

    span {
      @apply transition-colors;

      @variant dark {
        color: var(--shiki-dark) !important;
      }
    }
  }
}
