.CodeBlock {
  font-family: monospace;
  color: blue;

  .token.class,
  .token.class-name,
  .token.function,
  .token.maybe-class-name,
  .token.parameter,
  .token.property,
  .token.pseudo-class,
  .token.selector,
  .token.tag {
    color: blue;
  }

  .token.attr-name,
  .token.important,
  .token.interpolation-punctuation,
  .token.keyword,
  .token.module,
  .token.operator,
  .token.rule,
  .token.variable {
    color: red;
  }

  .token.plain-text,
  .token.punctuation {
    color: orange;
  }

  .token.number,
  .token.string {
    color: green;
  }

  .token.comment {
    opacity: 0.75;
  }

  .token.attr-value,
  .token.color,
  .token.imports,
  .token.unit {
    color: blue;
  }
}
