/* prettier-ignore */
@theme {
  --animate-fade-in: fade-in
    var(--animate-duration, 200ms)
    var(--animate-ease, ease-out)
    forwards;
  --animate-fade-out: fade-out
    var(--animate-duration, 200ms)
    var(--animate-ease, ease-out)
    forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }
  --animate-height-grow: height-grow var(--animate-duration, 200ms)
    var(--animate-ease, ease-out);
  --animate-height-shrink: height-shrink var(--animate-duration, 200ms)
    var(--animate-ease, ease-out);

  @keyframes height-grow {
    from {
      height: 0;
    }
    to {
      height: var(--height);
    }
  }

  @keyframes height-shrink {
    from {
      height: var(--height);
    }
    to {
      height: 0;
    }
  }

  --animate-width-grow: width-grow var(--animate-duration, 200ms);
  --animate-width-shrink: width-shrink var(--animate-duration, 200ms);

  @keyframes width-grow {
    from {
      width: 0;
    }
    to {
      width: var(--width);
    }
  }

  @keyframes width-shrink {
    from {
      width: var(--width);
    }
    to {
      width: 0;
    }
  }
}

/* prettier-ignore */
@utility with-* {
  animation: --value(--animate-*);
  animation-duration: var(--animate-duration, 200ms);
}

/* prettier-ignore */
@utility animate-duration-* {
  --animate-duration: --value(integer)ms;
  --animate-duration: --value([*]);
  animation-duration: --value(integer)ms;
  animation-duration: --value([*]);
}

/* prettier-ignore */
@utility animate-delay-* {
  --animate-delay: --value(integer)ms;
  --animate-delay: --value([*]);
  animation-delay: --value(integer)ms;
  animation-delay: --value([*]);
}

@utility animate-state-pause {
  animation-play-state: paused;
}
