/* prettier-ignore */
@theme {
  --animate-in: enter
    var(--animation-duration, var(--tw-duration, 150ms))
    var(--animation-ease, var(--tw-ease, ease))
    var(--animation-fill-mode, forwards);
  --animate-out: exit
    var(--animation-duration, var(--tw-duration, 150ms))
    var(--animation-ease, var(--tw-ease, ease))
    var(--animation-fill-mode, forwards);

  @keyframes enter {
    from {
      opacity: var(--enter-opacity, 0);
      filter: blur(var(--enter-blur, 0));
      transform:
        translate3d(
          var(--enter-translate-x, 0),
          var(--enter-translate-y, 0),
          var(--enter-translate-z, 0))
        scale3d(
          var(--enter-scale, 1),
          var(--enter-scale, 1),
          var(--enter-scale, 1))
        rotate(var(--enter-rotate, 0));
    }
  }

  @keyframes exit {
    to {
      opacity: var(--exit-opacity, 0);
      filter: blur(var(--exit-blur, 0));
      transform:
        translate3d(
          var(--exit-translate-x, 0),
          var(--exit-translate-y, 0),
          var(--exit-translate-z, 0))
        scale3d(
          var(--exit-scale, 1),
          var(--exit-scale, 1),
          var(--exit-scale, 1))
        rotate(var(--exit-rotate, 0));
    }
  }

  --animate-height-grow: height-grow
    var(--animation-duration, var(--tw-duration, 150ms))
    var(--animation-ease, var(--tw-ease, ease));
  --animate-height-shrink: height-shrink
    var(--animation-duration, var(--tw-duration, 150ms))
    var(--animation-ease, var(--tw-ease, ease));

  @keyframes height-grow {
    from {
      height: 0;
    }
    to {
      height: var(--height);
    }
  }

  @keyframes height-shrink {
    from {
      height: var(--height);
    }
    to {
      height: 0;
    }
  }

  --animate-width-grow: width-grow
    var(--animation-duration, var(--tw-duration, 150ms))
    var(--animation-ease, var(--tw-ease, ease))
    var(--animation-fill-mode, forwards);
  --animate-width-shrink: width-shrink
    var(--animation-duration, var(--tw-duration, 150ms))
    var(--animation-ease, var(--tw-ease, ease))
    var(--animation-fill-mode, forwards);

  @keyframes width-grow {
    from {
      width: 0;
    }
    to {
      width: var(--width);
    }
  }

  @keyframes width-shrink {
    from {
      width: var(--width);
    }
    to {
      width: 0;
    }
  }
}

/* Duration & delay */

/* prettier-ignore */
@utility animation-duration-* {
  --animation-duration: calc(--value(number) * 1ms);
  --animation-duration: --value(--animation-duration-*, [duration], "initial", [*]);
  animation-duration: var(--animation-duration, 150ms);
}
/* prettier-ignore */
@utility animation-delay-* {
  --animation-delay: calc(--value(number) * 1ms);
  --animation-delay: --value(--animation-delay-*, [duration], "initial", [*]);
  animation-delay: var(--animation-delay, 0s);
}

/* Fill mode */

@theme {
  --fill-mode-normal: normal;
  --fill-mode-reverse: reverse;
  --fill-mode-alternate: alternate;
  --fill-mode-alternate-reverse: alternate-reverse;
}
/* prettier-ignore */
@utility fill-mode-* {
  --animation-fill-mode: --value(--animation-fill-mode-*, "initial", [*]);
  animation-fill-mode: var(--animation-fill-mode, normal);
}

/* Play state */

@theme {
  --play-state-running: running;
  --play-state-paused: paused;
}
/* prettier-ignore */
@utility play-state-* {
  --animation-play-state: --value(--play-state-*, 'initial', [*]);
  animation-play-state: var(--animation-play-state, running);
}
