@theme {
  --animate-height-grow: height-grow 200ms forwards;
  --animate-height-shrink: height-shrink 200ms forwards;
}

@keyframes height-grow {
  0% {
    height: 0;
  }
  100% {
    height: var(--height);
  }
}

@keyframes height-shrink {
  0% {
    height: var(--height);
  }
  100% {
    height: 0;
  }
}
