@import 'tailwindcss';
@import './animations.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: 'Manrope Variable';
  --color-primary: var(--color-sky-500);
  --color-secondary: var(--color-purple-500);

  --muted: oklch(0% 0 0 / 60%);
  --muted-foreground: oklch(100% 0 0 / 60%);
}

@utility text-muted {
  color: var(--muted);

  @variant dark {
    color: var(--muted-foreground);
  }
}

/* prettier-ignore */
@utility bg-var-* {
  background-color: color-mix(
    in oklab,
    var(--bg-color, --value(--color-*)) var(--bg-opacity, 100%),
    transparent
  );
  background-color: color-mix(
    in oklab,
    var(--bg-color, --value(--color-*))
      calc(var(--bg-opacity, --modifier(integer)) * 1%),
    transparent
  );
}

body {
  min-height: 100vh;
  color: oklch(0% 0 0 / 90%);
  background-color: var(--color-white);

  @variant dark {
    color: oklch(100% 0 0 / 90%);
    background-color: var(--color-black);
  }
}
