@import 'tailwindcss';
@import './animations.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: 'Manrope Variable';

  --color-foreground: --alpha(var(--color-zinc-900) / 90%);
  --color-background: --alpha(var(--color-zinc-100) / 90%);

  --color-primary: var(--color-violet-700);
  --color-primary-contrast: var(--color-white);
  --color-primary-light: var(--color-violet-600);
  --color-primary-light-contrast: var(--color-white);
  --color-primary-dark: var(--color-violet-800);
  --color-primary-dark-contrast: var(--color-white);

  --color-secondary: var(--color-orange-400);
  --color-secondary-contrast: var(--color-white);
  --color-secondary-light: var(--color-orange-300);
  --color-secondary-light-contrast: var(--color-white);
  --color-secondary-dark: var(--color-orange-500);
  --color-secondary-dark-contrast: var(--color-white);

  --color-danger: var(--color-red-600);
  --color-danger-contrast: var(--color-white);
  --color-danger-light: var(--color-red-500);
  --color-danger-light-contrast: var(--color-white);
  --color-danger-dark: var(--color-red-700);
  --color-danger-dark-contrast: var(--color-white);

  --color-border: --alpha(var(--color-zinc-500) / 25%);
  --color-highlight: --alpha(var(--color-violet-500) / 20%);
  --color-outline: --alpha(var(--color-violet-500) / 50%);

  --color-muted-foreground: --alpha(var(--color-foreground) / 50%);
  --color-muted-background: --alpha(var(--color-background) / 50%);

  --radius-shape: 0.375rem;
}

@utility text-muted {
  --muted: oklch(0% 0 0 / 60%);
  color: var(--muted);

  @variant dark {
    --muted: oklch(100% 0 0 / 60%);
  }
}

@utility focusable {
  outline: 4px solid transparent;
  outline-offset: 1px;
}
@utility focus {
  outline-color: var(--color-outline);
}

@utility hover-effect {
  --color: oklch(71.4% 0.203 305.504 / 8%); /* purple-400 */
  --pos-x: calc(var(--x) - (var(--hover-size) / 2));
  --pos-y: calc(var(--y) - (var(--hover-size) / 2));
  background-image: radial-gradient(var(--color) 0, transparent 50%);
  background-repeat: no-repeat;
  background-position: var(--pos-x) var(--pos-y);
  background-size: var(--hover-size) var(--hover-size);
  @apply transition-opacity duration-200;
}

body {
  min-height: 100vh;
  background-color: var(--color-white);
  @apply text-foreground;
  @apply transition-colors;

  @variant dark {
    background-color: var(--color-black);
    @apply text-background;
  }
}
