@import 'tailwindcss';
@import './animations.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: 'Manrope Variable';

  --color-primary: var(--color-purple-700);
  --color-primary-contrast: var(--color-white);
  --color-primary-light: var(--color-purple-600);
  --color-primary-light-contrast: var(--color-white);
  --color-primary-dark: var(--color-purple-800);
  --color-primary-dark-contrast: var(--color-white);

  --color-secondary: var(--color-orange-400);
  --color-secondary-contrast: var(--color-white);
  --color-secondary-light: var(--color-orange-300);
  --color-secondary-light-contrast: var(--color-white);
  --color-secondary-dark: var(--color-orange-500);
  --color-secondary-dark-contrast: var(--color-white);

  --color-danger: var(--color-red-600);
  --color-danger-contrast: var(--color-white);
  --color-danger-light: var(--color-red-500);
  --color-danger-light-contrast: var(--color-white);
  --color-danger-dark: var(--color-red-700);
  --color-danger-dark-contrast: var(--color-white);

  --color-border: oklch(55.6% 0 0 / 25%); /* neutral-500 */
  --color-highlight: oklch(71.4% 0.203 305.504 / 15%); /* purple-400 */

  --radius-shape: 0.375rem;
}

@utility text-muted {
  --muted: oklch(0% 0 0 / 60%);
  color: var(--muted);

  @variant dark {
    --muted: oklch(100% 0 0 / 60%);
  }
}

@utility focusable {
  outline: 0;
  outline-offset: 2px;
  outline-color: --alpha(var(--color-primary) / 50%);
}
@utility focus {
  @apply outline-2;
}

body {
  min-height: 100vh;
  color: oklch(0% 0 0 / 90%);
  background-color: var(--color-white);

  @variant dark {
    color: oklch(100% 0 0 / 90%);
    background-color: var(--color-black);
  }
}
