@import 'tailwindcss';
@import './animations.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: 'Manrope Variable';

  --color-foreground: var(--color-zinc-900);
  --color-background: var(--color-zinc-100);

  --color-primary: var(--color-violet-500);
  --color-primary-contrast: var(--color-white);

  --color-danger: var(--color-red-700);
  --color-danger-contrast: var(--color-white);

  --color-border: --alpha(var(--color-zinc-500) / 25%);
  --color-highlight: --alpha(var(--color-primary) / 15%);
  --color-outline: --alpha(var(--color-primary) / 50%);

  --color-muted-foreground: --alpha(var(--color-foreground) / 75%);
  --color-muted-background: --alpha(var(--color-background) / 75%);

  --radius-shape: calc(var(--spacing) * 2);
}

@utility focusable {
  @apply outline-3;
  @apply outline-offset-1;
  @apply outline-transparent;
}

@utility halo {
  --color: oklch(71.4% 0.203 305.504 / 8%); /* purple-400 */
  --pos-x: calc(var(--x) - (var(--halo-size) / 2));
  --pos-y: calc(var(--y) - (var(--halo-size) / 2));
  background-image: radial-gradient(var(--color) 0, transparent 50%);
  background-repeat: no-repeat;
  background-position: var(--pos-x) var(--pos-y);
  background-size: var(--halo-size) var(--halo-size);
  @apply transition-opacity duration-200;
}

body {
  min-height: 100vh;
  background-color: var(--color-white);
  @apply text-foreground;

  @variant dark {
    background-color: var(--color-black);
    @apply text-background;
  }
}

:checked {
  background-image: url('data:image/svg+xml,<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"><path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M1 7.917 5.724 12.5 15 3.5"/></svg>');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 0.5rem;
}

[data-codeblock] [data-line] {
  display: inline-block;
  width: 100%;
  @apply pr-8;

  &::before {
    @apply w-16 pr-2 text-sm transition-colors bg-background;
    content: attr(data-line);
    position: sticky;
    left: 0;
    display: inline-block;
    text-align: right;
  }

  @variant dark {
    &::before {
      @apply bg-foreground;
    }
  }

  span {
    @apply transition-colors;

    @variant dark {
      color: var(--shiki-dark) !important;
    }
  }
}
