@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: 'Manrope Variable';
  --color-primary: var(--theme-primary, var(--color-sky-500));
  --color-secondary: var(--theme-secondary, var(--color-purple-500));
}

@utility bg-var-* {
  background-color: color-mix(
    in oklab,
    var(--bg-color, --value(--color- *)) var(--bg-opacity, 100%),
    transparent
  );
  background-color: color-mix(
    in oklab,
    var(--bg-color, --value(--color- *))
      calc(var(--bg-opacity, --modifier(integer)) * 1%),
    transparent
  );
}
