[data-line]::before {
  content: attr(data-line);
  position: sticky;
  left: 0;
  display: inline-block;
  width: calc(var(--spacing) * 16);
  padding-right: calc(var(--spacing) * 4);
  text-align: right;
  font-size: var(--text-sm);
}
