:root {
  font-family: 'Manrope Variable', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-scheme: light dark;
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;

  th,
  td {
    padding: 4px;
    border: 1px solid black;
  }
}

input,
textarea {
  font: inherit;
  font-size: 14px;
  outline: 0;
}

input {
  height: 28px;
  padding: 0 4px;
}

input[type='checkbox'] {
  display: block;
  width: 16px;
  height: 16px;
  margin: 4px;
  cursor: pointer;
}

button {
  min-width: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  padding: 8px;
}
.form-row {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;

  & > * {
    flex: 1 1 100%;
  }
}
.form-field {
  label,
  input {
    display: block;
    width: 100%;
  }
}
.form-field-multi {
  table {
    input[type='checkbox'],
    button {
      display: block;
      margin: 0 auto;
    }
  }
}
.form-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
